<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item ml-3"><a href="" class="nav-link">DISEÑO</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">INSPIRACIÓN</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">NOTICIAS</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">AMBIENTES</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">NATURALEZA</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">CAMPAÑAS</a></li>
                <li class="nav-item ml-3"><a href="" class="nav-link">RELEVANTES</a></li>
            </ul>
        </div>
    </div>
</nav>