<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Deja un comentario</h4>
        <p>Puedes dejar un comentario usando el siguiente formulario</p>

        <form>
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control shadow-effect" placeholder="Ingresa tu nombre aquí">
            </div>

            <div class="form-group">
                <label for="">Comentario</label>
                <textarea cols="30" rows="10" class="form-control shadow-effect"
                    placeholder="Agrega tu comentario aquí"></textarea>
            </div>

            <button class="btn btn-info btn-theme">Agregar un comentario</button>
        </form>
    </div>
</div>