<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/16276982/pexels-photo-16276982/free-photo-of-naturaleza-planta-flor-brote.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Inspiración </small>
                    <small class="bg-light text-success text-center ml-2"> Destacado </small>
                    <small class="bg-light text-info text-center ml-2"> Vistas - 1200 </small>
                    <small class="bg-light text-warning text-center ml-2"> ULTIMA ACTUALIZACIÓN ENE 20, 2024</small>

                    <h1 class="mt-3 mb-3">Concepto de medio ambiente y voluntarios</h1>
                    <p>"El medio ambiente es el hogar que compartimos todos los seres vivos en la Tierra. Es un sistema
                        complejo y delicado que requiere nuestro cuidado y protección. La contaminación, el cambio
                        climático y la pérdida de biodiversidad son solo algunos de los desafíos ambientales que
                        enfrentamos hoy.</p>

                    <p>Los voluntarios juegan un papel crucial en la protección del medio ambiente. Son individuos que
                        donan su tiempo y esfuerzo para causas ambientales, desde la limpieza de playas hasta la
                        plantación de árboles. Los voluntarios no solo ayudan a mejorar el medio ambiente, sino que
                        también crean conciencia y educan a otros sobre la importancia de la sostenibilidad.
                        Juntos, podemos hacer una diferencia significativa para nuestro planeta. Cada acción cuenta, y
                        cada voluntario es un héroe del medio ambiente. Únete a nosotros en esta misión y sé parte de la
                        solución."</p>

                    <p>"La conservación del medio ambiente es una responsabilidad compartida. Cada uno de nosotros
                        tiene un papel que desempeñar. Desde hacer pequeños cambios en nuestras rutinas diarias, como
                        reciclar o usar menos agua, hasta participar en proyectos de conservación a gran escala, cada
                        acción tiene un impacto. Cuando nos unimos como voluntarios, nuestro impacto colectivo puede ser
                        enorme.</p>

                    <p>Los voluntarios ambientales vienen de todos los ámbitos de la vida, pero todos comparten un amor
                        común por nuestro planeta. Algunos pueden ser estudiantes buscando formas de marcar la
                        diferencia, otros pueden ser profesionales que utilizan sus habilidades para el bien.
                        Independientemente de su origen, todos los voluntarios ambientales están unidos por la creencia
                        de que podemos y debemos hacer más para proteger nuestro medio ambiente.</p>

                    <p>Finalmente, el voluntariado ambiental no solo beneficia al planeta, sino también a los propios
                        voluntarios. Ofrece la oportunidad de aprender nuevas habilidades, conocer a personas con ideas
                        afines y experimentar la satisfacción de saber que estás haciendo una diferencia. No importa
                        cuánto tiempo tengas para dar, hay un proyecto de voluntariado ambiental que necesita tu ayuda."
                    </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-4">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>