<div class="card shadow-effect">
    <img src="https://img.freepik.com/foto-gratis/concepto-medio-ambiente-voluntarios_23-2147807249.jpg?w=740&t=st=1710348860~exp=1710349460~hmac=8da602642c0d7cab458f9d3d4e270cdbca4a95f79ae68c70bcce13c274090e7b"
        alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> INSPIRACIÓN</small>
        <small class="bg-light text-success text-center ml-3"> DESTACADO</small>
        <small class="bg-light text-info text-center ml-3"> VISTAS - 1,200</small>

        <h5 class="mt-1"> Concepto de medio ambiente y voluntarios</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit lacus velit bibendum ultrices hac, sed ornare mi
            taciti id. At morbi cursus fermentum ut pharetra suspendisse, semper metus hendrerit sagittis lectus.</p>
        <small class="bg-light text-warning text-center ml-3">ULTIMA ACTUALIZACIÓN ENE 20, 2024</small>
    </div>
</div>